@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;*/
    background-color: #fff8e7;
}

.wrapper {
    box-sizing: border-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background: #f8f8f8;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    border: 1px solid #000000;
    box-shadow: 0 0.9em 2.8em rgba(0, 0, 0, 0.15);  
}
.game {
    position: relative;
    width: 100%;
    display: grid;
}